<div class="container cform" style="padding: 30px 0; display: flex; flex-direction: column; align-items: center;">
    <div style="display: flex; gap: 50px; width: 100%;">
        <div style="width: 300px; display: flex; flex-direction: column; align-items: center;">
            <img [src]="customer.imageBlob || customer.image" alt="" />
            <input type="file" id="fileSelect" style="display: none;" (change)="fileChange($event)">
            <label for="fileSelect"
                style="border: none; color: white; padding: 7px 12px; border-radius: 5px; background-color: black; margin-top: 15px;">
                Chọn ảnh
            </label>
        </div>
        <div style="width: 100%;">
            <h3 style="padding: 10px 0;">Hồ sơ của tôi</h3>
            <div style="display: flex; gap: 15px; align-items: center;">
                <p style="min-width: 150px; text-align: right;">Tên:</p>
                <input type="text" [value]="customer.name" [(ngModel)]="customer.name">
            </div>
            <div style="display: flex; gap: 15px; align-items: center;">
                <p style="min-width: 150px; text-align: right;">Giới tính:</p>
                <div style="display: flex; align-items: center; gap: 5px;">
                    <input type="radio" [(ngModel)]="customer.gender" name="sex" [value]="true" id="nam">
                    <label style="margin: 0;" for="nam">Nam</label>
                </div>
                <div style="display: flex; align-items: center; gap: 5px;">
                    <input type="radio" [(ngModel)]="customer.gender" name="sex" [value]="false" id="nu">
                    <label style="margin: 0;" for="nu">Nữ</label>
                </div>
            </div>
            <div style="display: flex; gap: 15px; align-items: center;">
                <p style="min-width: 150px; text-align: right;">Điện thoại:</p>
                <input type="text" [value]="customer.phone" [(ngModel)]="customer.phone">
            </div>
            <div style="display: flex; gap: 15px; align-items: center;">
                <p style="min-width: 150px; text-align: right;">Địa chỉ:</p>
                <input type="text" [value]="customer.address" [(ngModel)]="customer.address">
            </div>
            <div style="display: flex; gap: 15px; align-items: center;">
                <p style="min-width: 150px; text-align: right;">Email:</p>
                <p>{{customer.email}}</p>
            </div>
            <div style="display: flex; gap: 15px; align-items: center;">
                <p style="min-width: 150px; text-align: right;">Ngày gia nhập:</p>
                <p>{{customer.registerDate}}</p>
            </div>
        </div>
    </div>
    <button *ngIf="!updating" (click)="updateCustomer()"
        style="background-color: black; border: none; color: white; padding: 10px 15px; border-radius: 5px; margin: 30px auto 0 auto;">Lưu
        lại</button>
    <button *ngIf="updating"
        style="background-color: black; border: none; color: white; padding: 10px 15px; border-radius: 5px; margin: 30px auto 0 auto; cursor: not-allowed;">Đang
        cập nhật...</button>
</div>